body{
    text-align: center;
    margin: 0;
}
.menu{
    position:fixed;
    background-color: white;
    width: 100%;
    margin-top: 0px;
}
.links{
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   
}
a{
    text-decoration: none;
    color: brown;
    text-shadow: 2px 2px 2px darkred;
}
/* pseudo classes-syntax: selector:pseudo-class{property:value;} */
.links:hover{
font-size: 25px;
text-decoration: underline;

}
html{
    scroll-behavior: smooth;
}
#welcome{
    /* to get omber effect to background use linear-gradient()*/
    background: linear-gradient(aqua,aquamarine);
    color: rgb(39,17,235);
}
.profile{
    border-radius: 50%;
    margin-top: 50px;
}
h1{
font-size: 40px;
font-weight: 400;
font-family: 'Lobster', cursive;
}
#name{
    font-size: 60px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.2;
}
h2{
font-size: 50px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 400;
}

#bio{
    padding: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}
.line{
      height: 6px;
      background-color: darkblue;
      width: 70px;
      margin: auto;
}
p{
    font-size: 20px;
}
#writings a{
    color: brown;
    text-shadow: none;
    text-decoration: underline;
}
#writings a:hover{
    color: darkblue;
}
#contact{
    background-color: firebrick;
}
#contact iframe{
    width: 100%;
}
.contact_1 h3{
    display: inline;
}
.contact_1 a{
    color: white;
    text-decoration: none;
}